:root {
    --bg-light: url('assets/images/background-light.jpg.jpg');
    --bg-dark: url('assets/images/background-dark.jpg.jpg');
    --text-color-light: #444;
    --text-color-dark: #fff;
    --link-color-light: #666;
    --link-color-dark: #bbb;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    direction: ltr;
    color: var(--text-color-dark);
}

.background-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: var(--bg-dark);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    position: relative;
    padding-top: 100px;
}

.theme-toggle {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgba(248, 248, 248, 0.2);
    border: none;
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color-dark);
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 40px 20px;
}

.name {
    font-size: 3em;
    font-weight: 300;
    margin: 0 0 0px 0;
}

.title {
    font-size: 1.5em;
    font-weight: 200;
    margin: 0;
    color: var(--text-color-dark);
    margin-bottom: 20px;
}

.links, .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.link-item, .contact-item {
    color: var(--link-color-dark);
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.link-item:hover, .contact-item:hover {
    color: #fff;
}

/* Light Mode */
body.dark-theme {
    color: var(--text-color-dark); /* טקסט לבן במצב כהה */
}

body.dark-theme .title {
    color: var(--text-color-dark);
}

body.dark-theme .link-item,
body.dark-theme .contact-item {
    color: var(--link-color-dark);
}

body.dark-theme .link-item:hover,
body.dark-theme .contact-item:hover {
    color: #fff;
}

body.light-theme {
    color: var(--text-color-light); /* טקסט כהה במצב בהיר */
}

body.light-theme .background-container {
    background-image: var(--bg-light);
}

body.light-theme .theme-toggle {
    color: var(--text-color-light);
}

body.light-theme .title {
    color: var(--text-color-light);
}

body.light-theme .link-item,
body.light-theme .contact-item {
    color: var(--link-color-light);
}

body.light-theme .link-item:hover,
body.light-theme .contact-item:hover {
    color: #000;
}

/* הסרת הצללה מהטקסט במצב בהיר */
body.light-theme .content-container {
    text-shadow: none;
}
